button {
    margin: 2em;
    font-weight: bolder;
    background-color: #E1D6CF;
    color:  #49473f;
    text-transform: uppercase;
    font-size: large;
}

a {
    color:inherit;
    text-decoration: none;
}

.welcome {
    margin: 30px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    color: #49473f;
}

.navigation {
    text-align: center;
}

.logo {
    width: 10%;
    height: auto;
}