
<div class="welcome">
      <img class="logo" src="assets/pes.png" alt="Italian Trulli">
      <h2>Willkommen beim Fussabdruck-Rechner</h2>
      <p>Fülle den folgenden Fragebogen nach deinem besten Wissen aus und finde heraus, wie du dem Planeten helfen kannst.</p>
<!--       <p>Wenn du den aktuellen Fragebogen bearbeiten willst, dann klicke auf <b>Edit Questionnaire</b>.</p> -->

      <div class="navigation">
            <nav>
                  <button mat-raised-button color="secondary"><a routerLink="star-questionnaire-component" routerLinkActive="active">Beginne Fragebogen</a></button>
      <!--             <button mat-raised-button color="secondary" ><a routerLink="edit-questionnaire-component" routerLinkActive="active">Edit Questionnaire</a></button> -->
            </nav>
      </div>
</div>



