.red {
    color: #E3A26E;
    text-align: left;
}

.green {
    color: #3a7461;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.explanation {
    width: 60%;
    text-align: left;
    margin-right: 20px;
}

.icon{
    width: 20%; 
    align-content: center;
}

.icon > img{
    width: 35%; 
    height: auto;
}

.mat-card {
    margin-top: 20px;
}

.title {
    color: #4e5855;
}

.exp{
    color: #8ca09a;
}

.exchange{
    padding-left: 30px;
}