.all {
    padding: 0px 60px 0px 60px;
}

.question {
    display: flex;
    margin: 15px 0px 15px 0px;
}

.finish {
    background-color: #E3A26E;
}

.category {
    color: #3f3d36;
    padding-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.questions{
    padding: 0% 25% 0% 25%;
}

.question-width{
    width: 100%;
}