<h2 mat-dialog-title>Enter Question</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="Catetory"
               formControlName="category">
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Titel"
               formControlName="titel">
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Answer Type"
               formControlName="answerType">
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Answer Option"
               formControlName="answerOption">
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Weight"
               formControlName="weight">
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>