<h2 mat-dialog-title>Enter Question</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="Catetory"
               formControlName="category">
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Titel"
               formControlName="titel">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Question Type" (selectionChange)="changeType($event.value)">
                <mat-option *ngFor="let type of questionTypes" [value]="type">
                  {{type}}
                </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="currentForm == 'numberRange'">
        <mat-form-field>
            <input matInput
                placeholder="Range Start"
                formControlName="start">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                placeholder="Range End"
                formControlName="end">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                placeholder="Steps"
                formControlName="step">
        </mat-form-field>
    </div>

    <div *ngIf="currentForm == 'multipleChoice'">
        <div>
            <input matInput placeholder="Add multiple choice option" [(ngModel)]='currentChoice'
            [ngModelOptions]="{standalone: true}">
            <button (click)="saveOption()">save</button>
        </div>
        <button *ngFor="let choice of choices">{{choice}} <span (click)="deleteChoice(choice)"> X </span></button>
    </div>

    <mat-form-field>
        <input matInput
                placeholder="Weight"
               formControlName="weight">
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>